In [1]:
import pandas as pd
import json
from fyers_apiv3 import fyersModel
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta
import os

client_id = "UZJ1B1WF4N-100"
secret_key = "KJ7CW6C2I8"
redirect_uri = "https://www.google.com/"
response_type = "code"  
state = "sample_state"
grant_type = "authorization_code"  
totp_secret = "SFJM4CZGYCQZFK75K3AAMCKBPHNMABQ4"
pin = "5555"


session = fyersModel.SessionModel(
    client_id=client_id,
    secret_key=secret_key,
    redirect_uri=redirect_uri,
    response_type=response_type
)

response = session.generate_authcode()
response

'https://api-t1.fyers.in/api/v3/generate-authcode?client_id=UZJ1B1WF4N-100&redirect_uri=https%3A%2F%2Fwww.google.com%2F&response_type=code&state=None'

In [2]:
auth_code = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBfaWQiOiJVWkoxQjFXRjROIiwidXVpZCI6ImZhNGMwNzFkMGYyOTRmOTBhOTZkN2MwMTNhZDY4MWZkIiwiaXBBZGRyIjoiIiwibm9uY2UiOiIiLCJzY29wZSI6IiIsImRpc3BsYXlfbmFtZSI6IllLMDg5NzMiLCJvbXMiOiJLMSIsImhzbV9rZXkiOiIwMTM1MGJhZWU0ZDdlNDRjZGY1OWE1MmQ5NDQ1YjNkZjVkYjQwNGMyODUwZDc3MjE1NjcwNTgyMCIsImlzRGRwaUVuYWJsZWQiOiJZIiwiaXNNdGZFbmFibGVkIjoiTiIsImF1ZCI6IltcImQ6MVwiLFwiZDoyXCIsXCJ4OjBcIixcIng6MVwiLFwieDoyXCJdIiwiZXhwIjoxNzU4MjAwMjE0LCJpYXQiOjE3NTgxNzAyMTQsImlzcyI6ImFwaS5sb2dpbi5meWVycy5pbiIsIm5iZiI6MTc1ODE3MDIxNCwic3ViIjoiYXV0aF9jb2RlIn0.DSKXI4_y7hjDjJQmJpK7fa5kwyN_9YTgM2Mx1pKsJDo"

session = fyersModel.SessionModel(
    client_id=client_id,
    secret_key=secret_key, 
    redirect_uri=redirect_uri, 
    response_type=response_type, 
    grant_type=grant_type
)

session.set_token(auth_code)

response = session.generate_token()

access_token = response['access_token']
refresh_token = response['refresh_token']

fyers = fyersModel.FyersModel(client_id=client_id, token=access_token)

In [3]:
# # ----------------- Download Fyers Master List ----------------- #
# import requests
# import pandas as pd
# import os

# # Download the CSV file
# url = "https://public.fyers.in/sym_details/NSE_CM.csv"
# response = requests.get(url)

# # Create directory if it doesn't exist
# data_dir = "D:/Programming/Download_Backtest_Deploy_data/1__Download/1__Download_data_Fyers_via_API"
# os.makedirs(data_dir, exist_ok=True)

# # Save the file
# file_path = os.path.join(data_dir, "fyers_master_list.csv")
# with open(file_path, 'wb') as f:
#     f.write(response.content)

# print(f"Master list downloaded and saved to: {file_path}")

# # Load and display basic info
# master_df = pd.read_csv(file_path)

In [4]:
# # Comprehensive list of stocks that have been part of Nifty 50 (historical compilation)
# # Based on available research and known changes since inception (1996)

# print("ALL STOCKS EVER INCLUDED IN NIFTY 50 (1996 - Present)")
# print("=" * 60)

# # Current Nifty 50 stocks (as of September 2025)
# current_nifty50 = [
#     'RELIANCE', 'TCS', 'HDFCBANK', 'BHARTIARTL', 'ICICIBANK', 'SBIN', 'INFY',
#     'HINDUNILVR', 'ITC', 'LT', 'KOTAKBANK', 'HCLTECH', 'AXISBANK', 'MARUTI',
#     'BAJFINANCE', 'ASIANPAINT', 'NESTLEIND', 'ULTRACEMCO', 'TITAN', 'SUNPHARMA',
#     'NTPC', 'TECHM', 'ONGC', 'POWERGRID', 'M&M', 'TATASTEEL', 'BAJAJFINSV',
#     'WIPRO', 'JSWSTEEL', 'COALINDIA', 'GRASIM', 'TATAMOTORS', 'INDUSINDBK',
#     'ADANIENT', 'ADANIPORTS', 'HINDALCO', 'CIPLA', 'EICHERMOT', 'DRREDDY',
#     'APOLLOHOSP', 'BAJAJ-AUTO', 'SHRIRAMFIN', 'TATACONSUM', 'HEROMOTOCO',
#     'SBILIFE', 'HDFCLIFE', 'TRENT', 'BEL', 'JIOFIN', 'ETERNAL'
# ]

# # Stocks added in recent years (2020-2025)
# recent_additions = [
#     'ZOMATO',           # Added March 2025
#     'JIOFIN',           # Added March 2025  
#     'INTERGLOBE',       # Will be added September 2025
#     'MAXHEALTH',        # Will be added September 2025
#     'TRENT',            # Added September 2024
#     'BEL',              # Added September 2024
#     'SHRIRAMFIN',       # Added ~2021
#     'ADANIENT',         # Added ~2022
#     'ADANIPORTS',       # Added ~2009
# ]

# # Stocks removed in recent years (known removals)
# recent_removals = [
#     'BRITANNIA',        # Removed March 2025
#     'BPCL',             # Removed March 2025
#     'HEROMOTOCO',       # Will be removed September 2025
#     'INDUSINDBK',       # Will be removed September 2025
#     'DRREDDY',          # Removed September 2024
#     'LTIM',             # Removed September 2024
#     'DIVISLAB',         # Historical removal
#     'IOC',              # Removed ~2021
# ]

# # Historical stocks (known to have been in Nifty 50 based on research)
# historical_stocks = [
#     'BRITANNIA',        # Was in index until March 2025
#     'BPCL',             # Was in index until March 2025
#     'DIVISLAB',         # Dr. Reddy's (1996-1997, 1999-2008)
#     'LTIM',             # LTI Mindtree (recent removal)
#     'IOC',              # Indian Oil Corporation
#     'VEDL',             # Vedanta Limited
#     'YESBANK',          # Yes Bank (removed due to issues)
#     'JETAIRWAYS',       # Jet Airways (delisted)
#     'RCOM',             # Reliance Communications (issues)
#     'UNITECH',          # Unitech (issues)
#     'SUZLON',           # Suzlon Energy (removed)
#     'GMRINFRA',         # GMR Infrastructure
#     'DLF',              # DLF Limited
#     'TATASTEEL',        # Historical member
#     'HINDALCO',         # Historical member
#     'SAIL',             # Steel Authority of India
#     'BHEL',             # Bharat Heavy Electricals
#     'RNRL',             # Reliance Natural Resources
#     'ABIRLANUVO',       # Aditya Birla Nuvo
#     'IDFC',             # IDFC Limited
#     'CAIRN',            # Cairn India
#     'JINDALSTEL',       # Jindal Steel & Power
# ]

# # Compile comprehensive list
# all_nifty50_stocks_ever = set()
# all_nifty50_stocks_ever.update(current_nifty50)
# all_nifty50_stocks_ever.update(recent_additions)
# all_nifty50_stocks_ever.update(recent_removals)
# all_nifty50_stocks_ever.update(historical_stocks)

# # Remove duplicates and sort
# comprehensive_list = sorted(list(all_nifty50_stocks_ever))

# print(f"TOTAL STOCKS EVER INCLUDED: {len(comprehensive_list)}")
# print("-" * 60)

# # Print categorized lists
# print("\n1. CURRENT NIFTY 50 (September 2025):")
# for i, stock in enumerate(sorted(current_nifty50), 1):
#     print(f"{i:2d}. {stock}")

# print(f"\n2. RECENT ADDITIONS (2020-2025): {len(recent_additions)}")
# for i, stock in enumerate(sorted(recent_additions), 1):
#     print(f"{i:2d}. {stock}")

# print(f"\n3. RECENT REMOVALS (2020-2025): {len(recent_removals)}")
# for i, stock in enumerate(sorted(recent_removals), 1):
#     print(f"{i:2d}. {stock}")

# print(f"\n4. HISTORICAL STOCKS (1996-2020): {len(historical_stocks)}")
# for i, stock in enumerate(sorted(historical_stocks), 1):
#     print(f"{i:2d}. {stock}")

# print(f"\n5. COMPREHENSIVE LIST (ALL TIME): {len(comprehensive_list)}")
# for i, stock in enumerate(comprehensive_list, 1):
#     if i % 5 == 0:
#         print(f"{i:2d}. {stock}")
#     else:
#         print(f"{i:2d}. {stock}", end="  ")
#     if i % 5 == 0 or i == len(comprehensive_list):
#         print()

# print(f"\nNOTE: This list is compiled from available research.")
# print("For complete accuracy, official NSE historical constituent data would be needed.")
# print("Some stocks may have been included for short periods and missed in public sources.")

________________________ Data operations ________________________

In [5]:
# Set pandas display options
# pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [6]:
# nifty_50_componants_data_from_tradingview.csv
nifty_comprehensive_df = pd.read_csv("D:/Programming/Download_Backtest_Deploy_data/1__Download/1__Download_data_ICICI_via_API/nifty_50_componants_data_from_tradingview.csv")

In [7]:
# Read Master_list file of Fyers
df = pd.read_csv(r"D:/Programming/Download_Backtest_Deploy_data/1__Download/1__Download_data_Fyers_via_API/fyers_master_list.csv")
df = df[df['NSE:GOLDSTAR-SM'].str.contains('-EQ', na=False)].reset_index(drop=True)
df

,10100000001,GOLDSTAR POWER LIMITED,0,11250,0.05,INE405Y01021,0915-1530|1815-1915:,2025-09-12,Unnamed: 8,NSE:GOLDSTAR-SM,10,10.1,1,GOLDSTAR,1.1,-1.0,XX,10100000001.1,None,0.1,0.0
0,1010000000100,AMARA RAJA ENERGY MOB LTD,0,1,0.05,INE885A01032,0915-1530|1815-1915:,2025-09-12,NaN,NSE:ARE&M-EQ,10,10,100,ARE&M,100,-1.0,XX,1010000000100,NaN,1,3.2
1,101000000010074,EMAMI PAPER MILLS LIMITED,0,1,0.01,INE830C01026,0915-1530|1815-1915:,2025-09-12,NaN,NSE:EMAMIPAP-EQ,10,10,10074,EMAMIPAP,10074,-1.0,XX,101000000010074,NaN,1,2.0
2,10100000001008,FACT LTD,0,1,0.05,INE188A01015,0915-1530|1815-1915:,2025-09-12,NaN,NSE:FACT-EQ,10,10,1008,FACT,1008,-1.0,XX,10100000001008,NaN,1,2.5
3,101000000010099,GODREJ CONSUMER PRODUCTS,0,1,0.10,INE102D01028,0915-1530|1815-1915:,2025-09-12,NaN,NSE:GODREJCP-EQ,10,10,10099,GODREJCP,10099,-1.0,XX,101000000010099,NaN,1,3.6
4,10100000001011,SCHAEFFLER INDIA LIMITED,0,1,0.10,INE513A01022,0915-1530|1815-1915:,2025-09-12,NaN,NSE:SCHAEFFLER-EQ,10,10,1011,SCHAEFFLER,1011,-1.0,XX,10100000001011,NaN,1,3.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2227,10100000009921,ALANKIT LIMITED,0,1,0.01,INE914E01040,0915-1530|1815-1915:,2025-09-12,NaN,NSE:ALANKIT-EQ,10,10,9921,ALANKIT,9921,-1.0,XX,10100000009921,NaN,0,0.0
2228,1010000000993,EVEREST INDUSTRIES LTD,0,1,0.05,INE295A01018,0915-1530|1815-1915:,2025-09-12,NaN,NSE:EVERESTIND-EQ,10,10,993,EVERESTIND,993,-1.0,XX,1010000000993,NaN,1,2.0
2229,10100000009931,VIKAS LIFECARE LIMITED,0,1,0.01,INE161L01027,0915-1530|1815-1915:,2025-09-12,NaN,NSE:VIKASLIFE-EQ,10,10,9931,VIKASLIFE,9931,-1.0,XX,10100000009931,NaN,0,0.0
2230,10100000009939,ONE POINT ONE SOL LTD,0,1,0.01,INE840Y01029,0915-1530|1815-1915:,2025-09-12,NaN,NSE:ONEPOINT-EQ,10,10,9939,ONEPOINT,9939,-1.0,XX,10100000009939,NaN,1,2.0
2231,1010000000999,EUROTEX INDUSTRIES LTD,0,1,0.01,INE022C01012,0915-1530|1815-1915:,2025-09-12,NaN,NSE:EUROTEXIND-EQ,10,10,999,EUROTEXIND,999,-1.0,XX,1010000000999,NaN,0,0.0

In [8]:
# # ----------------------------------- find stock in masterlist file -----------------------------------#

n = 0

# Nifty 50 symbols to find
nifty_50 = nifty_comprehensive_df['Symbol'].values.tolist()
nifty_50 = [symbol.replace("_", "-") for symbol in nifty_50]

x = 0
# Fix: Iterate over the actual values in the list, not indices
for stock in nifty_50:
    if f"NSE:{stock}-EQ" in df["NSE:GOLDSTAR-SM"].values:
        x += 1
        n += 1
        # a = print(x, stock, "\tFound") if len(stock) > 4 else print(x, stock, "\t\tFound")
    else:
        x += 1
        print(x, stock, "\tNot found")

print(f"Total {n} Nifty 50 stocks found in the DataFrame.")

Total 50 Nifty 50 stocks found in the DataFrame.

In [9]:
nifty_50_tokens = [f"NSE:{stock}-EQ" for stock in nifty_50]
filtered_masterlist = df[df['NSE:GOLDSTAR-SM'].isin(nifty_50_tokens)].reset_index(drop=True)
nifty50_stockcode = filtered_masterlist['NSE:GOLDSTAR-SM'].to_list()
print(nifty50_stockcode)

['NSE:BHARTIARTL-EQ', 'NSE:MARUTI-EQ', 'NSE:LT-EQ', 'NSE:ULTRACEMCO-EQ', 'NSE:TCS-EQ', 'NSE:NTPC-EQ', 'NSE:JSWSTEEL-EQ', 'NSE:GRASIM-EQ', 'NSE:HDFCBANK-EQ', 'NSE:HEROMOTOCO-EQ', 'NSE:TECHM-EQ', 'NSE:HINDALCO-EQ', 'NSE:HINDUNILVR-EQ', 'NSE:POWERGRID-EQ', 'NSE:ADANIPORTS-EQ', 'NSE:APOLLOHOSP-EQ', 'NSE:INFY-EQ', 'NSE:ITC-EQ', 'NSE:BAJAJ-AUTO-EQ', 'NSE:BAJAJFINSV-EQ', 'NSE:NESTLEIND-EQ', 'NSE:JIOFIN-EQ', 'NSE:KOTAKBANK-EQ', 'NSE:TRENT-EQ', 'NSE:M&M-EQ', 'NSE:COALINDIA-EQ', 'NSE:SBILIFE-EQ', 'NSE:ASIANPAINT-EQ', 'NSE:ONGC-EQ', 'NSE:ADANIENT-EQ', 'NSE:RELIANCE-EQ', 'NSE:SBIN-EQ', 'NSE:BAJFINANCE-EQ', 'NSE:SUNPHARMA-EQ', 'NSE:TATACONSUM-EQ', 'NSE:TATAMOTORS-EQ', 'NSE:TATASTEEL-EQ', 'NSE:TITAN-EQ', 'NSE:WIPRO-EQ', 'NSE:BEL-EQ', 'NSE:SHRIRAMFIN-EQ', 'NSE:HDFCLIFE-EQ', 'NSE:ICICIBANK-EQ', 'NSE:ETERNAL-EQ', 'NSE:INDUSINDBK-EQ', 'NSE:AXISBANK-EQ', 'NSE:CIPLA-EQ', 'NSE:HCLTECH-EQ', 'NSE:DRREDDY-EQ', 'NSE:EICHERMOT-EQ']

In [10]:
# Download Nifty 50 components data and save to folder
import os
import time

# Create directory for saving data
save_dir = "D:/Programming/Download_Backtest_Deploy_data/1__Download/1__Download_data_Fyers_via_API/nifty50_daily_data"
os.makedirs(save_dir, exist_ok=True)

# Date range for download
date_range = {
    "resolution": "D",
    "date_format": "1", 
    "range_from": "2025-08-11", 
    "range_to": "2025-09-15", 
    "cont_flag": "1"
}

print(f"Starting download of {len(nifty50_stockcode)} Nifty 50 stocks...")
print(f"Date range: {date_range['range_from']} to {date_range['range_to']}")
print(f"Saving to: {save_dir}")

successful_downloads = 0
failed_downloads = []

for i, symbol in enumerate(nifty50_stockcode, 1):
    try:
        # Prepare data for API call
        data = {
            "symbol": symbol,
            **date_range
        }
        
        # Make API call
        response = fyers.history(data=data)
        
        if response.get('s') == 'ok' and response.get('candles'):
            # Create DataFrame
            df = pd.DataFrame(response['candles'], columns=['timestamp', 'open', 'high', 'low', 'close', 'volume'])
            df['datetime'] = pd.to_datetime(df['timestamp'], unit='s', utc=True).dt.tz_convert('Asia/Kolkata')
            df['symbol'] = symbol.replace("NSE:", "").replace("-EQ", "")
            df = df[['symbol', 'datetime', 'open', 'high', 'low', 'close', 'volume']]
            df['datetime'] = df['datetime'].dt.tz_localize(None)
            
            # Save to CSV
            filename = f"{symbol.replace('NSE:', '').replace('-EQ', '')}_daily_data.csv"
            filepath = os.path.join(save_dir, filename)
            df.to_csv(filepath, index=False)
            
            successful_downloads += 1
            print(f"{i:2d}. {symbol:20s} - Downloaded {len(df)} records -> {filename}")
            
        else:
            failed_downloads.append(symbol)
            print(f"{i:2d}. {symbol:20s} - Failed: {response.get('message', 'Unknown error')}")
        
        # Add small delay to avoid rate limiting
        time.sleep(0.1)
        
    except Exception as e:
        failed_downloads.append(symbol)
        print(f"{i:2d}. {symbol:20s} - Error: {str(e)}")

print(f"\nDownload Summary:")
print(f"Successful: {successful_downloads}")
print(f"Failed: {len(failed_downloads)}")
if failed_downloads:
    print(f"Failed symbols: {failed_downloads}")
print(f"Data saved in: {save_dir}")

Starting download of 50 Nifty 50 stocks...
Date range: 2025-08-11 to 2025-09-15
Saving to: D:/Programming/Download_Backtest_Deploy_data/1__Download/1__Download_data_Fyers_via_API/nifty50_daily_data
 1. NSE:BHARTIARTL-EQ    - Downloaded 24 records -> BHARTIARTL_daily_data.csv
 2. NSE:MARUTI-EQ        - Downloaded 24 records -> MARUTI_daily_data.csv
 3. NSE:LT-EQ            - Downloaded 24 records -> LT_daily_data.csv
 4. NSE:ULTRACEMCO-EQ    - Downloaded 24 records -> ULTRACEMCO_daily_data.csv
 5. NSE:TCS-EQ           - Downloaded 24 records -> TCS_daily_data.csv
 6. NSE:NTPC-EQ          - Downloaded 24 records -> NTPC_daily_data.csv
 7. NSE:JSWSTEEL-EQ      - Downloaded 24 records -> JSWSTEEL_daily_data.csv
 8. NSE:GRASIM-EQ        - Downloaded 24 records -> GRASIM_daily_data.csv
 9. NSE:HDFCBANK-EQ      - Downloaded 24 records -> HDFCBANK_daily_data.csv
10. NSE:HEROMOTOCO-EQ    - Downloaded 24 records -> HEROMOTOCO_daily_data.csv
11. NSE:TECHM-EQ         - Downloaded 24 records -> TECHM_daily_data.csv
12. NSE:HINDALCO-EQ      - Downloaded 24 records -> HINDALCO_daily_data.csv
13. NSE:HINDUNILVR-EQ    - Downloaded 24 records -> HINDUNILVR_daily_data.csv
14. NSE:POWERGRID-EQ     - Downloaded 24 records -> POWERGRID_daily_data.csv
15. NSE:ADANIPORTS-EQ    - Downloaded 24 records -> ADANIPORTS_daily_data.csv
16. NSE:APOLLOHOSP-EQ    - Downloaded 24 records -> APOLLOHOSP_daily_data.csv
17. NSE:INFY-EQ          - Downloaded 24 records -> INFY_daily_data.csv
18. NSE:ITC-EQ           - Downloaded 24 records -> ITC_daily_data.csv
19. NSE:BAJAJ-AUTO-EQ    - Downloaded 24 records -> BAJAJ-AUTO_daily_data.csv
20. NSE:BAJAJFINSV-EQ    - Downloaded 24 records -> BAJAJFINSV_daily_data.csv
21. NSE:NESTLEIND-EQ     - Downloaded 24 records -> NESTLEIND_daily_data.csv
22. NSE:JIOFIN-EQ        - Downloaded 24 records -> JIOFIN_daily_data.csv
23. NSE:KOTAKBANK-EQ     - Downloaded 24 records -> KOTAKBANK_daily_data.csv
24. NSE:TRENT-EQ         - Downloaded 24 records -> TRENT_daily_data.csv
25. NSE:M&M-EQ           - Downloaded 24 records -> M&M_daily_data.csv
26. NSE:COALINDIA-EQ     - Downloaded 24 records -> COALINDIA_daily_data.csv
27. NSE:SBILIFE-EQ       - Downloaded 24 records -> SBILIFE_daily_data.csv
28. NSE:ASIANPAINT-EQ    - Downloaded 24 records -> ASIANPAINT_daily_data.csv
29. NSE:ONGC-EQ          - Downloaded 24 records -> ONGC_daily_data.csv
30. NSE:ADANIENT-EQ      - Downloaded 24 records -> ADANIENT_daily_data.csv
31. NSE:RELIANCE-EQ      - Downloaded 24 records -> RELIANCE_daily_data.csv
32. NSE:SBIN-EQ          - Downloaded 24 records -> SBIN_daily_data.csv
33. NSE:BAJFINANCE-EQ    - Downloaded 24 records -> BAJFINANCE_daily_data.csv
34. NSE:SUNPHARMA-EQ     - Downloaded 24 records -> SUNPHARMA_daily_data.csv
35. NSE:TATACONSUM-EQ    - Downloaded 24 records -> TATACONSUM_daily_data.csv
36. NSE:TATAMOTORS-EQ    - Downloaded 24 records -> TATAMOTORS_daily_data.csv
37. NSE:TATASTEEL-EQ     - Downloaded 24 records -> TATASTEEL_daily_data.csv
38. NSE:TITAN-EQ         - Downloaded 24 records -> TITAN_daily_data.csv
39. NSE:WIPRO-EQ         - Downloaded 24 records -> WIPRO_daily_data.csv
40. NSE:BEL-EQ           - Downloaded 24 records -> BEL_daily_data.csv
41. NSE:SHRIRAMFIN-EQ    - Downloaded 24 records -> SHRIRAMFIN_daily_data.csv
42. NSE:HDFCLIFE-EQ      - Downloaded 24 records -> HDFCLIFE_daily_data.csv
43. NSE:ICICIBANK-EQ     - Downloaded 24 records -> ICICIBANK_daily_data.csv
44. NSE:ETERNAL-EQ       - Downloaded 24 records -> ETERNAL_daily_data.csv
45. NSE:INDUSINDBK-EQ    - Downloaded 24 records -> INDUSINDBK_daily_data.csv
46. NSE:AXISBANK-EQ      - Downloaded 24 records -> AXISBANK_daily_data.csv
47. NSE:CIPLA-EQ         - Downloaded 24 records -> CIPLA_daily_data.csv
48. NSE:HCLTECH-EQ       - Downloaded 24 records -> HCLTECH_daily_data.csv
49. NSE:DRREDDY-EQ       - Downloaded 24 records -> DRREDDY_daily_data.csv
50. NSE:EICHERMOT-EQ     - Downloaded 24 records -> EICHERMOT_daily_data.csv

Download Summary:
Successful: 50
Failed: 0
Data saved in: D:/Programming/Download_Backtest_Deploy_data/1__Download/1__Download_data_Fyers_via_API/nifty50_daily_data

In [11]:
# Sum all stocks volume by datetime
import glob

# Path to the folder containing individual stock CSV files
data_folder = "D:/Programming/Download_Backtest_Deploy_data/1__Download/1__Download_data_Fyers_via_API/nifty50_daily_data"

# Get all CSV files in the folder
csv_files = glob.glob(os.path.join(data_folder, "*_daily_data.csv"))

print(f"Found {len(csv_files)} CSV files to process...")

# Initialize list to store all dataframes
all_dataframes = []

# Read each CSV file and collect dataframes
for file_path in csv_files:
    try:
        df = pd.read_csv(file_path)
        df['datetime'] = pd.to_datetime(df['datetime'])
        # Keep only datetime and volume columns with symbol info
        df_volume = df[['datetime', 'volume', 'symbol']].copy()
        all_dataframes.append(df_volume)
        # print(f"Loaded: {os.path.basename(file_path)} - {len(df)} records")
    except Exception as e:
        print(f"Error loading {os.path.basename(file_path)}: {str(e)}")

if all_dataframes:
    # Combine all dataframes
    combined_df = pd.concat(all_dataframes, ignore_index=True)
    
    # Group by datetime and sum volumes
    volume_summary = combined_df.groupby('datetime').agg({
        'volume': 'sum',
        'symbol': 'count'  # Count how many stocks contributed to each date
    }).reset_index()
    
    # Rename columns for clarity
    volume_summary.rename(columns={'symbol': 'stock_count'}, inplace=True)
    
    # Sort by datetime
    volume_summary = volume_summary.sort_values('datetime').reset_index(drop=True)
    
    print(f"\nVolume Summary (Total across all Nifty 50 stocks):")
    print("=" * 60)
    print(volume_summary.to_string(index=False))
    
else:
    print("No data files found to process!")

Found 50 CSV files to process...

Volume Summary (Total across all Nifty 50 stocks):
============================================================
           datetime    volume  stock_count
2025-08-11 05:30:00 245698424           50
2025-08-12 05:30:00 243471363           50
2025-08-13 05:30:00 242795489           50
2025-08-14 05:30:00 278918061           50
2025-08-18 05:30:00 372713703           50
2025-08-19 05:30:00 258517047           50
2025-08-20 05:30:00 292029233           50
2025-08-21 05:30:00 232761977           50
2025-08-22 05:30:00 220082135           50
2025-08-25 05:30:00 221791155           50
2025-08-26 05:30:00 750473927           50
2025-08-28 05:30:00 326601486           50
2025-08-29 05:30:00 325543583           50
2025-09-01 05:30:00 229327424           50
2025-09-02 05:30:00 271558516           50
2025-09-03 05:30:00 340283328           50
2025-09-04 05:30:00 314094160           50
2025-09-05 05:30:00 210071924           50
2025-09-08 05:30:00 213228202           50
2025-09-09 05:30:00 226919775           50
2025-09-10 05:30:00 244146466           50
2025-09-11 05:30:00 224570983           50
2025-09-12 05:30:00 225739766           50
2025-09-15 05:30:00 185375759           50

In [12]:
volume_summary['volume'] = round((volume_summary['volume'] / 1000000), 2)
volume_summary

              datetime  volume  stock_count
0  2025-08-11 05:30:00  245.70           50
1  2025-08-12 05:30:00  243.47           50
2  2025-08-13 05:30:00  242.80           50
3  2025-08-14 05:30:00  278.92           50
4  2025-08-18 05:30:00  372.71           50
5  2025-08-19 05:30:00  258.52           50
6  2025-08-20 05:30:00  292.03           50
7  2025-08-21 05:30:00  232.76           50
8  2025-08-22 05:30:00  220.08           50
9  2025-08-25 05:30:00  221.79           50
10 2025-08-26 05:30:00  750.47           50
11 2025-08-28 05:30:00  326.60           50
12 2025-08-29 05:30:00  325.54           50
13 2025-09-01 05:30:00  229.33           50
14 2025-09-02 05:30:00  271.56           50
15 2025-09-03 05:30:00  340.28           50
16 2025-09-04 05:30:00  314.09           50
17 2025-09-05 05:30:00  210.07           50
18 2025-09-08 05:30:00  213.23           50
19 2025-09-09 05:30:00  226.92           50
20 2025-09-10 05:30:00  244.15           50
21 2025-09-11 05:30:00  224.57           50
22 2025-09-12 05:30:00  225.74           50
23 2025-09-15 05:30:00  185.38           50

----------------------- Testing cell ------------------------

In [16]:
# Create tvml_df with both TradingView and Fyers symbol formats
# Read TradingView Nifty 50 components file
tv_df = pd.read_csv('D:/Programming/Download_Backtest_Deploy_data/1__Download/1__Download_data_ICICI_via_API/nifty_50_componants_data_from_tradingview.csv')

# Extract symbols and company names
symbols = tv_df['Symbol'].tolist()
company_names = tv_df['Company_Name'].tolist()

# Handle special case for BAJAJ_AUTO
symbols = [symbol.replace("_", "-") for symbol in symbols]

# Create tvml_df with both formats
tvml_df = pd.DataFrame({
    'tv_symbol': symbols,
    'company_names': company_names
})

tvml_df.head()

    tv_symbol                      company_names
0    RELIANCE        Reliance Industries Limited
1    HDFCBANK                  HDFC Bank Limited
2         TCS  Tata Consultancy Services Limited
3  BHARTIARTL              Bharti Airtel Limited
4   ICICIBANK                 ICICI Bank Limited

In [14]:
# Create n5v_df with symbol and volume for date 2025-08-11
import pandas as pd
import glob
import os

# Path to the folder containing individual stock CSV files
data_folder = "D:/Programming/Download_Backtest_Deploy_data/1__Download/1__Download_data_Fyers_via_API/nifty50_daily_data"

# Get all CSV files in the folder
csv_files = glob.glob(os.path.join(data_folder, "*_daily_data.csv"))

# Target date
target_date = '2025-08-22'

# Initialize list to store data for target date
data_for_date = []

# Read each CSV file and extract data for target date
for file_path in csv_files:
    try:
        df = pd.read_csv(file_path)
        df['datetime'] = pd.to_datetime(df['datetime'])
        
        # Filter for target date
        target_data = df[df['datetime'].dt.date == pd.to_datetime(target_date).date()]
        
        if not target_data.empty:
            symbol = target_data['symbol'].iloc[0]
            volume = target_data['volume'].iloc[0]
            data_for_date.append({'symbol': symbol, 'volume': volume})
            
    except Exception as e:
        print(f"Error processing {os.path.basename(file_path)}: {str(e)}")

# Create n5v_df
n5v_df = pd.DataFrame(data_for_date)

# Sort by symbol for better readability
n5v_df = n5v_df.sort_values('symbol').reset_index(drop=True)

print(f"n5v_df - Nifty 50 Volume Data for {target_date}")
print("=" * 50)
print(n5v_df.to_string(index=False))
print(f"\nTotal stocks: {len(n5v_df)}")
print(f"Total volume: {n5v_df['volume'].sum()/1000000:,}")

ea = n5v_df

n5v_df - Nifty 50 Volume Data for 2025-08-22
==================================================
    symbol   volume
  ADANIENT   584211
ADANIPORTS  1210284
APOLLOHOSP   843648
ASIANPAINT   523774
  AXISBANK  3853718
BAJAJ-AUTO   369875
BAJAJFINSV   709444
BAJFINANCE  6424895
       BEL 15246732
BHARTIARTL  3271920
     CIPLA  1574526
 COALINDIA  4699261
   DRREDDY  1229920
 EICHERMOT   273421
   ETERNAL 22869858
    GRASIM   671902
   HCLTECH  2802805
  HDFCBANK 19833502
  HDFCLIFE  1331814
HEROMOTOCO  1357460
  HINDALCO  5623045
HINDUNILVR  1223445
 ICICIBANK  6657207
INDUSINDBK  2483587
      INFY  5543397
       ITC 13087624
    JIOFIN  8800338
  JSWSTEEL  1950366
 KOTAKBANK  1791693
        LT  1060447
       M&M  2509867
    MARUTI   458935
 NESTLEIND   921658
      NTPC  8534844
      ONGC  5423818
 POWERGRID  6824793
  RELIANCE  5818868
   SBILIFE   605948
      SBIN  5097647
SHRIRAMFIN  3496256
 SUNPHARMA  2098310
TATACONSUM   394813
TATAMOTORS  6429718
 TATASTEEL 16063984
       TCS  1593791
     TECHM   969599
     TITAN   691835
     TRENT   443698
ULTRACEMCO   226948
     WIPRO 13572686

Total stocks: 50
Total volume: 220.082135

In [18]:
# First verify symbol matching between ea and tvml_df
print("Symbol Matching Verification:")
print("=" * 40)

# Get unique symbols from both DataFrames
ea_symbols = set(ea['symbol'].tolist())
tvml_symbols = set(tvml_df['tv_symbol'].tolist())

# Find matches and mismatches
matched_symbols = ea_symbols.intersection(tvml_symbols)
ea_only = ea_symbols - tvml_symbols
tvml_only = tvml_symbols - ea_symbols

print(f"EA symbols: {len(ea_symbols)}")
print(f"TVML symbols: {len(tvml_symbols)}")
print(f"Matched symbols: {len(matched_symbols)}")
print(f"EA only symbols: {len(ea_only)}")
print(f"TVML only symbols: {len(tvml_only)}")

if ea_only:
    print(f"\nSymbols in EA but not in TVML: {sorted(ea_only)}")
if tvml_only:
    print(f"\nSymbols in TVML but not in EA: {sorted(tvml_only)}")

print(f"\nMatched symbols: {sorted(matched_symbols)}")

# After verification, add company names to ea DataFrame
# Note: Using 'company_names' (plural) as per tvml_df column name
ea_with_names = ea.merge(tvml_df[['tv_symbol', 'company_names']], 
                        left_on='symbol', 
                        right_on='tv_symbol', 
                        how='left')

# Drop the duplicate tv_symbol column and reorder columns
ea_with_names = ea_with_names[['symbol', 'company_names', 'volume']].copy()

# Rename column to singular for consistency
ea_with_names.rename(columns={'company_names': 'company_name'}, inplace=True)

print(f"\nEA DataFrame with Company Names:")
print("=" * 50)
ea_with_names.head()

Symbol Matching Verification:
========================================
EA symbols: 50
TVML symbols: 50
Matched symbols: 50
EA only symbols: 0
TVML only symbols: 0

Matched symbols: ['ADANIENT', 'ADANIPORTS', 'APOLLOHOSP', 'ASIANPAINT', 'AXISBANK', 'BAJAJ-AUTO', 'BAJAJFINSV', 'BAJFINANCE', 'BEL', 'BHARTIARTL', 'CIPLA', 'COALINDIA', 'DRREDDY', 'EICHERMOT', 'ETERNAL', 'GRASIM', 'HCLTECH', 'HDFCBANK', 'HDFCLIFE', 'HEROMOTOCO', 'HINDALCO', 'HINDUNILVR', 'ICICIBANK', 'INDUSINDBK', 'INFY', 'ITC', 'JIOFIN', 'JSWSTEEL', 'KOTAKBANK', 'LT', 'M&M', 'MARUTI', 'NESTLEIND', 'NTPC', 'ONGC', 'POWERGRID', 'RELIANCE', 'SBILIFE', 'SBIN', 'SHRIRAMFIN', 'SUNPHARMA', 'TATACONSUM', 'TATAMOTORS', 'TATASTEEL', 'TCS', 'TECHM', 'TITAN', 'TRENT', 'ULTRACEMCO', 'WIPRO']

EA DataFrame with Company Names:
==================================================

       symbol                             company_name   volume
0    ADANIENT                Adani Enterprises Limited   584211
1  ADANIPORTS  Adani Ports & Special Economic Zone Ltd  1210284
2  APOLLOHOSP      Apollo Hospitals Enterprise Limited   843648
3  ASIANPAINT                        Asian Paints Ltd.   523774
4    AXISBANK                        Axis Bank Limited  3853718

In [17]:
# save ea_with_names in D:\Programming\Download_Backtest_Deploy\1__Download\1__Download_data_Fyers_via_API
ea_with_names.to_csv('D:/Programming/Download_Backtest_Deploy_data/1__Download/1__Download_data_Fyers_via_API/ea_with_names.csv', index=False)

___________________ Analysis code ___________________

In [31]:
import pandas as pd
import numpy as np

# Load both ea_with_names DataFrames
fyers_df = pd.read_csv('D:/Programming/Download_Backtest_Deploy_data/1__Download/1__Download_data_Fyers_via_API/ea_with_names.csv')
icici_df = pd.read_csv('D:/Programming/Download_Backtest_Deploy_data/1__Download/1__Download_data_ICICI_via_API/ea_with_names.csv')

# Merge on company_name to align the data
merged_df = pd.merge(fyers_df, icici_df, on='company_name', suffixes=('_fyers', '_icici'), how='outer')

# Calculate volume differences
merged_df['volume_diff'] = merged_df['volume_fyers'] - merged_df['volume_icici']
merged_df['volume_diff_pct'] = (merged_df['volume_diff'] / merged_df['volume_icici']) * 100

# Total volumes
total_fyers = merged_df['volume_fyers'].sum()
total_icici = merged_df['volume_icici'].sum()
total_diff = total_fyers - total_icici
total_diff_pct = (total_diff / total_icici) * 100
merged_df['pct'] = round((((merged_df['volume_fyers'] - merged_df['volume_icici'])) / merged_df['volume_icici']) * 100, 2)

In [33]:
merged_df.columns

Index(['symbol_fyers', 'company_name', 'volume_fyers', 'symbol_icici',
       'volume_icici', 'volume_diff', 'volume_diff_pct', 'pct'],
      dtype='object')

In [34]:
merged_df['volume_fyers'] = round((merged_df['volume_fyers'] / 1000000), 2)
merged_df['volume_icici'] = round((merged_df['volume_icici'] / 1000000), 2)

In [35]:
merged_df

,symbol_fyers,company_name,volume_fyers,symbol_icici,volume_icici,volume_diff,volume_diff_pct,pct
0,ADANIENT,Adani Enterprises Limited,0.58,ADAENT,0.58,3815,0.657310,0.66
1,ADANIPORTS,Adani Ports & Special Economic Zone Ltd,1.21,ADAPOR,1.21,3216,0.266431,0.27
2,APOLLOHOSP,Apollo Hospitals Enterprise Limited,0.84,APOHOS,0.84,8299,0.993477,0.99
3,ASIANPAINT,Asian Paints Ltd.,0.52,ASIPAI,0.52,1510,0.289126,0.29
4,AXISBANK,Axis Bank Limited,3.85,AXIBAN,3.84,14295,0.372322,0.37
5,BAJAJ-AUTO,Bajaj Auto Limited,0.37,BAAUTO,0.37,1076,0.291758,0.29
6,BAJAJFINSV,Bajaj Finserv Limited,0.71,BAFINS,0.71,2052,0.290080,0.29
7,BAJFINANCE,Bajaj Finance Limited,6.42,BAJFI,6.41,12209,0.190388,0.19
8,BEL,Bharat Electronics Limited,15.25,BHAELE,15.16,84456,0.557014,0.56
9,BHARTIARTL,Bharti Airtel Limited,3.27,BHAAIR,3.24,32384,0.999649,1.00
10,CIPLA,Cipla Ltd,1.57,CIPLA,1.56,10693,0.683769,0.68
11,COALINDIA,Coal India Ltd.,4.70,COALIN,4.68,20099,0.429543,0.43
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,1.23,DRREDD,1.22,5751,0.469788,0.47
13,EICHERMOT,Eicher Motors Limited,0.27,EICMOT,0.27,586,0.214782,0.21
14,ETERNAL,Eternal Limited,22.87,ZOMLIM,22.75,120601,0.530132,0.53
15,GRASIM,Grasim Industries Ltd.,0.67,GRASIM,0.67,954,0.142187,0.14
16,HCLTECH,HCL Technologies Limited,2.80,HCLTEC,2.80,6524,0.233310,0.23
17,HDFCBANK,HDFC Bank Limited,19.83,HDFBAN,9.78,10057452,102.878484,102.88
18,HDFCLIFE,HDFC Life Insurance Co. Ltd.,1.33,HDFSTA,1.33,2430,0.182791,0.18
19,HEROMOTOCO,Hero Motocorp Limited,1.36,HERHON,1.36,1895,0.139794,0.14
20,HINDALCO,Hindalco Industries Limited,5.62,HINDAL,5.61,11933,0.212667,0.21
21,HINDUNILVR,Hindustan Unilever Limited,1.22,HINLEV,1.22,3910,0.320614,0.32
22,ICICIBANK,ICICI Bank Limited,6.66,ICIBAN,6.54,114177,1.745017,1.75
23,INDUSINDBK,IndusInd Bank Ltd.,2.48,INDBA,2.48,4821,0.194492,0.19
24,INFY,Infosys Limited,5.54,INFTEC,5.51,30681,0.556550,0.56
25,ITC,ITC Limited,13.09,ITC,13.04,46829,0.359096,0.36
26,JIOFIN,Jio Financial Services Limited,8.80,JIOFIN,8.74,63983,0.732376,0.73
27,JSWSTEEL,JSW Steel Limited,1.95,JSWSTE,1.95,1915,0.098283,0.10
28,KOTAKBANK,Kotak Mahindra Bank Limited,1.79,KOTMAH,1.79,6329,0.354494,0.35
29,LT,Larsen & Toubro Limited,1.06,LARTOU,1.06,2032,0.191985,0.19
30,M&M,Mahindra & Mahindra Ltd.,2.51,MAHMAH,2.51,4811,0.192052,0.19
31,MARUTI,Maruti Suzuki India Limited,0.46,MARUTI,0.46,3143,0.689569,0.69
32,NESTLEIND,Nestle India Ltd.,0.92,NESIND,0.92,1561,0.169656,0.17
33,NTPC,NTPC Limited,8.53,NTPC,8.52,11732,0.137649,0.14
34,ONGC,Oil & Natural Gas Corp. Ltd.,5.42,ONGC,5.41,11543,0.213274,0.21
35,POWERGRID,Power Grid Corporation of India Limited,6.82,POWGRI,6.79,30170,0.444028,0.44
36,RELIANCE,Reliance Industries Limited,5.82,RELIND,5.77,47423,0.821683,0.82
37,SBILIFE,SBI Life Insurance Co. Ltd.,0.61,SBILIF,0.60,953,0.157522,0.16
38,SBIN,State Bank of India,5.10,STABAN,5.08,18002,0.354395,0.35
39,SHRIRAMFIN,Shriram Finance Limited,3.50,SHRTRA,3.49,4767,0.136532,0.14
40,SUNPHARMA,Sun Pharmaceutical Industries Limited,2.10,SUNPHA,2.09,3857,0.184153,0.18
41,TATACONSUM,Tata Consumer Products Limited,0.39,TATGLO,0.39,2039,0.519128,0.52
42,TATAMOTORS,Tata Motors Limited,6.43,TATMOT,6.40,26470,0.413384,0.41
43,TATASTEEL,Tata Steel Limited,16.06,TATSTE,16.02,41117,0.256614,0.26
44,TCS,Tata Consultancy Services Limited,1.59,TCS,1.58,14122,0.893985,0.89
45,TECHM,Tech Mahindra Limited,0.97,TECMAH,0.97,3073,0.317943,0.32
46,TITAN,Titan Company Limited,0.69,TITIND,0.69,1537,0.222657,0.22
47,TRENT,Trent Limited,0.44,TRENT,0.44,689,0.155527,0.16
48,ULTRACEMCO,UltraTech Cement Limited,0.23,ULTCEM,0.23,291,0.128388,0.13
49,WIPRO,Wipro Limited,13.57,WIPRO,13.46,112098,0.832787,0.83